<div class="row">
  <div class="col-1"></div>
  <div class="col-10 card">
    <table class="table bg-light border-danger text-center">
      <thead>
        <tr>
          <th class="col-4" scope="col">#</th>
          <th class="col-4" scope="col">Titulo</th>
          <th class="col-4" scope="col">Autor</th>
        </tr>
      </thead>
      <tbody>
        @for (livro of livros; track $index){
        <tr>
          <th scope="row">{{ livro.id }}</th>
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-1"></div>
</div>
