<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container">
      <div class="collapse navbar-collapse" mdbCollapse >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-danger border-bottom border-danger" href="#">Dashboard</a>
          </li>
        </ul>
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2 text-danger">
            Login
          </button>
          <button type="button" class="btn btn-danger me-3 sign">
            Sign up
          </button>
        </div>
      </div>
    </div>
  </nav>