<div class="row">
  <div class="col-4"></div>
  <div class="card col-4">
    <div class="card-body">
      <form>
        <h5>Fazer login</h5>
        <br />
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="email"
            id="form1Example1"
            class="form-control"
          />
          <label mdbLabel class="form-label" for="form1Example1"
            >Email address</label
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="password"
            id="form1Example2"
            class="form-control"
          />
          <label mdbLabel class="form-label" for="form1Example2">Password</label >
        </mdb-form-control>
        <div class="row mb-4">
          <div class="col d-flex justify-content-center"></div>

          <div class="">
            <a class="text-danger" href="#!">Forgot password?</a>
          </div>
        </div>
        <button mdbRipple type="button" class="btn btn-danger btn-block">
          Sign in
        </button>
      </form>
    </div>
  </div>
  <div class="col-4"></div>
</div>
